@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body {
    font-family: "Fredoka", sans-serif;
    background-color: #198754;
    color: #fff;
}

#title {
    text-align: center;
    margin-top: 10px;
}

#welcome {
    text-align: center;
}

#play-area {
    margin: 50px 100px;
}

#buttons {
    text-align: center;
}

#restart-btn {
    margin-right: 20px;
}

#htp-btn {
    margin-left: 20px;
}

.card-style {
    position: relative;
    width: 11em;
    height: 12em;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*The following code was sourced from w3schools*/
.flip-card {
    background-color: transparent;
    width: 11rem;
    height: 12rem;
    perspective: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}